@model mvc.Models.tblUser

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        @* height: 200vh; *@

    }

    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        @* width: 450px; *@
    }

    h2 {
        text-align: center;
        color: #333;
    }

    label {
        display: block;
        margin: 10px 0 5px;
        color: #555;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<h2>Login</h2>

<div class="container">
    <div>
        <label>Email:</label>
        <input type="text" id="c_uemail" name="c_uemail" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" id="c_password" name="c_password" />
    </div>
    <div>
        <button id="loginBtn">Login</button>
    </div>

    <div class="mt-5">
        Don't have any account ?<a href="~/ajaxuser/Register">Register </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#loginBtn').on('click', function () {
                var user = {
                    c_uemail: $('#c_uemail').val(),
                    c_password: $('#c_password').val()
                };

                $.ajax({
                    url: '/ajaxuser/Login',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(user),
                    success: function (result) {
                        console.log(result);
                        debugger;
                        if (result.success) {
                            window.location.href = result.redirectUrl;
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}
