@model tblEmployee

@{
    ViewData["Title"] = "UpdateEmployeeData";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Update Employee Data</h2>
        </div>
    </div>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="c_empid">

        <div class="form-group">
            <label asp-for="c_empname" class="control-label">Employee Name</label>
            <input asp-for="c_empname" class="form-control" />
            <span asp-validation-for="c_empname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empgender" class="control-label">Gender</label><br>
            <div>
                <input type="radio" asp-for="c_empgender" value="Male" /> Male
                <input type="radio" asp-for="c_empgender" value="Female" /> Female
                <input type="radio" asp-for="c_empgender" value="Other" /> Other
            </div>
            <span asp-validation-for="c_empgender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empdob" class="control-label">Employee DOB</label>
            <input asp-for="c_empdob" type="date" class="form-control" />
            <span asp-validation-for="c_empdob" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empshift" class="control-label">Shift</label><br>
            <input type="checkbox" name="c_empshift" value="Morning" checked='@Model.c_empshift.Contains("Morning")' />
            Morning
            <input type="checkbox" name="c_empshift" value="Afternoon"
                checked='@Model.c_empshift.Contains("Afternoon")' /> Afternoon
        </div>

        @* <div class="form-group">
            <label class="control-label">Department @Model.c_empdepartment</label>
            <select class="form-control" id="c_empdepartment">
                <option value="">Select Department</option>
            </select>
            <span class="text-danger"></span>
        </div> *@
        <div class="form-group">
    <label class="control-label">Department</label>
    <select class="form-control" id="c_empdepartment" name="c_empdepartment"> <!-- Add name attribute -->
        <option value="">Select Department</option>
    </select>
    <span class="text-danger"></span>
</div>


        <div class="form-group">
            <label class="control-label">Photo</label><br>
            <div class="custom-file">
                <input type="file" asp-for="photo" class="custom-file-input" id="photo" />
                @* <label class="custom-file-label" for="photo">Choose file</label> *@
            </div>
            @* <span asp-validation-for="photo" class="text-danger"></span> *@
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Update Employee</button>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/Employee/Department',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (Array.isArray(data)) {
                        var dropdown = $('#c_empdepartment');
                        dropdown.empty().append($('<option value="">Select Department</option>'));
                        data.forEach(function (item) {
                            var option = $('<option>').val(item.c_departmentname).text(item.c_departmentname); // Assuming item.c_departmentid is the appropriate value for the option
                            if (item.c_departmentid == '@Model.c_empdepartment') {
                                option.prop('selected', true);
                            }
                            dropdown.append(option);
                        });
                    } else {
                        console.error('Invalid data format:', data);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching departments:', status, error);
                }
            });


        });
@* 
        document.getElementById('photo').addEventListener('change', function () {
            var fileName = this.value.split('\\').pop();
            var label = $(this).siblings('.custom-file-label');
            label.text(fileName);
        }); *@
        $('#photo').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
}
