@model mvc.Models.tblEmployee
@{
    var shifts = new List<string> { "Morning", "Afternoon" };
}

<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.119/styles/kendo.default-v2.min.css" />
</head>
<body>
    <div id="example">
        <form method="post" enctype="multipart/form-data" action="/KendoComponentEmployee/Add">
            <div class="k-content">
                <label for="c_empname">Name</label>
                <input id="c_empname" name="c_empname" /><br>

                <label for="c_empgender">Gender</label><br>
                <div>
                    <input id="empMGender" name="c_empgender" type="radio" value="Male">
                    <input id="empFGender" name="c_empgender" type="radio" value="Female">
                    <input id="empOGender" name="c_empgender" type="radio" value="Other">
                </div>

                <label  for="c_empdob">Date of Birth</label>
                <input id="c_empdob" name="c_empdob" /><br>

                    <label for="c_empshift">Shift</label><br>
                    <div>
                        <input id="M" type="checkbox" name="c_empshift" value="Morning" />
                        <input id="A" type="checkbox" name="c_empshift" value="Afternoon" />
                    </div>

                <label for="c_empimg">Image</label>
                <input type="file" id="c_empimg" name="c_empimg" />

                <label for="c_empdepartment">Department</label>
                <select id="c_empdepartment" name="c_empdepartment">
                    @foreach (var department in ViewBag.Departments)
                    {
                        <option value="@department.c_departmentname">@department.c_departmentname</option>
                    }
                </select><br><br>

                
                <input type="submit" value="Add Employee" class="k-button k-primary" />
            </div>
        </form>
    </div>

    @section Scripts {
        <script src="https://kendo.cdn.telerik.com/2022.1.119/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2022.1.119/js/kendo.all.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#c_empname").kendoTextBox();
              $(document).ready(function() {
    $("#c_empdob").kendoDatePicker({
        format: "yyyy-MM-dd" 
    });
});


                $("#empMGender").kendoRadioButton({
                    label: "Male",
                    size: "medium"
                });

                $("#empFGender").kendoRadioButton({
                    label: "Female",
                    size: "medium"
                });
                $("#empOGender").kendoRadioButton({
                    label: "Other",
                    size: "medium"
                });

                $("#A").kendoCheckBox({
                    label: "Afternoon",
                    size: "medium",
                    rounded: "large"
                });

                $("#M").kendoCheckBox({
                    label: "Morning",
                    size: "medium",
                    rounded: "large"
                });

                $("#c_empimg").kendoUpload();
                $("#c_empdepartment").kendoDropDownList();
            });

        </script>
    }
</body>
</html>
