@{
    ViewData["Title"] = "Home Page";
}



<div class="card">
    <div class="card-header bg-primary text-white">
        Project 1
    </div>
    <div class="card-body">
        <h5 class="card-title">MVC</h5>
        <a asp-action="Login" asp-controller="User" class="btn btn-primary">Explore</a>
    </div>
</div>

<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        Project 2
    </div>
    <div class="card-body">
        <h5 class="card-title">API With MVC</h5>
        <a asp-action="Login" asp-controller="ApiAjaxUser" class="btn btn-primary">Explore</a>
    </div>
</div>

<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        Project 3
    </div>
    <div class="card-body">
        <h5 class="card-title">Kendo Component</h5>
        <a asp-action="Login" asp-controller="KendoComponentUser" class="btn btn-primary">Explore</a>
    </div>
</div>

<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        Project 4
    </div>
    <div class="card-body">
        <h5 class="card-title">Kendo Grid</h5>
        <a asp-action="Index1" asp-controller="Kendogridlogin" class="btn btn-primary">Explore</a>
    </div>
</div>

<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        Project 5
    </div>
    <div class="card-body">
        <h5 class="card-title">Ajax</h5>
        <a asp-action="Login" asp-controller="ajaxuser" class="btn btn-primary">Explore</a>
    </div>
</div>



@* KendoComponent *@



@* ApiAjaxUser/login *@
