@model tblEmployee

@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Employees</h2>
    <table id="empTable" class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Employee Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Shift</th>
                <th>Image</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<!-- Add Employee -->

<div>
    <h2>Add Employee</h2>
    <form id="addEmpForm">
        <div class="form-group">
            <label for="c_empname">Employee Name :</label>
            <input type="text" id="c_empname" name="c_empname" class="form-control">
        </div>
        <div class="form-group">
            <label>Gender :</label><br>
            <div class="form-check form-check-inline">
                <input type="radio" id="male" value="Male" name="c_empgender" class="form-check-input">
                <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="female" value="Female" name="c_empgender" class="form-check-input">
                <label for="female" class="form-check-label">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="other" value="Other" name="c_empgender" class="form-check-input">
                <label for="other" class="form-check-label">Other</label>
            </div>
        </div>
        <div class="form-group">
            <label for="c_empdob">Date of Birth</label>
            <input for="c_empdob" type="date" id="c_empdob" name="c_empdob" class="form-control">
        </div>
        <div class="form-group">
            <label>Shift</label><br>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="morning" value="Morning" name="c_empshift" class="form-check-input">
                <label for="morning" class="form-check-label">Morning</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="afternoon" value="Afternoon" name="c_empshift" class="form-check-input">
                <label for="afternoon" class="form-check-label">Afternoon</label>
            </div>
        </div>
        <div class="form-group">
            <label for="c_empimg">Photo</label>
            <input for="c_empimg" type="file" id="c_empimg" name="c_empimg" class="form-control-file">
        </div>

        <div class="form-group">
            <label>Department</label>
            <select class="form-control" id="c_empdepartment" name="c_empdepartment" for="c_empdepartment">
                <option value="">Select Department</option>
            </select>
            <span asp-validation-for="c_empdepartment" class="text-danger"></span>
        </div>

        <button type="button" id="addEmpButton" class="btn btn-primary">Add</button>
        <input type="button" name="reset" id="reset" onclick="ResetEmp()" value="Reset" class="btn btn-secondary">
    </form>
</div>

<!-- Edit Employee Modal -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEmployeeModalLabel">Edit Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editEmployeeForm">
                    <input type="hidden" id="c_empid" name="c_empid">
                    <div class="form-group">
                        <label for="c_edit_empname">Employee Name :</label>
                        <input type="text" id="c_edit_empname" name="c_edit_empname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Gender :</label><br>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="male" value="Male" name="c_edit_empgender" class="form-check-input">
                            <label for="male" class="form-check-label">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="female" value="Female" name="c_edit_empgender" class="form-check-input">
                            <label for="female" class="form-check-label">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="other" value="Other" name="c_edit_empgender" class="form-check-input">
                            <label for="other" class="form-check-label">Other</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c_edit_empdob">Date of Birth</label>
                        <input type="date" id="c_edit_empdob" name="c_edit_empdob" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Shift</label><br>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="edit_morning" value="Morning" name="c_edit_empshift"
                                class="form-check-input">
                            <label for="morning" class="form-check-label">Morning</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="edit_afternoon" value="Afternoon" name="c_edit_empshift"
                                class="form-check-input">
                            <label for="afternoon" class="form-check-label">Afternoon</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c_edit_empimg">Photo</label>
                        <input type="file" id="c_edit_empimg" name="c_edit_empimg" class="form-control-file">
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <select class="form-control" id="c_edit_empdepartment" name="c_edit_empdepartment" for="c_edit_empdepartment">
                            <option value="">Select Department</option>
                        </select>
                        <span asp-validation-for="c_empdepartment" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="closeModalButton">Close</button>
                <button type="button" class="btn btn-danger" id="updateEmployeeButton">Update Employee</button>
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@section Scripts
{
    <script>

        $(document).ready(function () {
            // Load employee data when the page is ready
            loadEmployee();

        });

        function loadEmployee() {
            $.ajax({
                url: "/mvcajax/GetAll",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var empTable = $('#empTable tbody');
                    empTable.empty();
                    data.forEach((emp) => {
                        const row = `<tr>
                                            <td>${emp.c_empid}</td>
                                            <td>${emp.c_empname}</td>
                                            <td>${emp.c_empgender}</td>
                                            <td>${emp.c_empdob}</td>
                                            <td>${emp.c_empshift}</td>
                                            <td>${emp.c_empimg}</td>
                                            <td>${emp.c_empdepartment}</td>
                                            <td>
                                                <button data-id="${emp.c_empid}" class="btn btn-primary details">Details</button>
                                                <button data-id="${emp.c_empid}" class="btn btn-secondary edit">Edit</button>
                                                <button data-id="${emp.c_empid}" class="btn btn-danger delete">Delete</button>
                                            </td>
                                        </tr>`;
                        empTable.append(row);
                    });
                }
            });
            setTimeout(function () {
                console.log('Employee data loaded successfully');
                loadDepartments();
            }, 2000);
            setTimeout(function () {
                console.log('Employee data loaded successfully');
                fetchDepartmentData();
            }, 2000);

        }


        function loadDepartments(){
            $.ajax({
                url: '/mvcajax/department',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (Array.isArray(data)) {
                        var dropdown = $('#c_empdepartment');
                        dropdown.empty().append($('<option value="">Select Department</option>'));
                        data.forEach(function (item) {
                            dropdown.append($('<option>').val(item.c_departmentname).text(item.c_departmentname));
                        });
                    } else {
                        console.error('Invalid data format:', data);
                    }
                }
            });
        }







        function fetchDepartmentData(response) {
            $.ajax({
                url: '/mvcajax/department',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);

                    populateDepartmentDropdown(data, response);
                },
                error: function (xhr, status, error) {
                    handleDepartmentFetchError(xhr, status, error);
                }
            });
        }

        function populateDepartmentDropdown(data, response) {
            var dropdown = $('#c_edit_empdepartment');
            dropdown.empty().append($('<option value="">Select Department</option>'));

            data.forEach(function (department) {
                var option = $('<option>').val(department.c_departmentname).text(department.c_departmentname);
                dropdown.append(option);
                if (department.c_departmentid == response.c_empdepartment) {
                    option.prop('selected', true);
                }
            });
            var departmentIdFromBackend = response.c_empdepartment;
            if (departmentIdFromBackend) {
                dropdown.val(department.c_departmentname);
            }
        }


        function handleDepartmentFetchError(xhr, status, error) {
            console.error('Error fetching departments:', status, error);
            $('#departmentValidationError').text('Error fetching departments. Please try again.');
        }

        // Your code for adding an employee remains unchanged
        $('#addEmpButton').on('click', function () {
            debugger;
            var emp = {
                c_empname: $('#c_empname').val(),
                c_empgender: $("input[name='c_empgender']:checked").val(),
                c_empdob: $('#c_empdob').val(),
                c_empshift: $("input[name='c_empshift']:checked").map(function () { return $(this).val(); }).get(),
                c_empimg: $('#c_empimg').val(),
                c_empdepartment: $('#c_empdepartment').val(),
            };

            var formData = new FormData();
            formData.append("c_empname", $('#c_empname').val());
            formData.append("c_empdob", $('#c_empdob').val());
            formData.append("c_empgender", $("input[name='c_empgender']:checked").val());
            formData.append("c_empshift",$("input[name='c_empshift']:checked").map(function () { return $(this).val(); }).get());
            formData.append("c_empimg", $('#c_empimg').val());
            formData.append("c_empdepartment", $('#c_empdepartment').val());

            console.log(formData);
            debugger;
            console.log('Selected department:', emp.c_empdepartment);
            $.ajax({
                url: '/mvcajax/Add/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    debugger;
                    loadEmployee();
                    ResetEmp();
                    alert(data.message);
                },
                error: function (xhr, status, error) {
                    console.log(emp);
                    console.error('Error fetching employee details:', status, error);
                }
            });
        });




        $('#empTable').on('click', '.edit', editEmployee);

        function editEmployee() {
                var empId = $(this).data('id');
                $('#c_empid').val(empId);
                $.ajax({
                    url: '/mvcajax/Details/',
                    type: 'GET',
                    data: { id: empId },
                    dataType: 'json',
                    success: function (data) {
                        $('#c_edit_empname').val(data.c_empname);
                        $('input[name=c_edit_empgender]').prop('checked', false);
                        $('input[name=c_edit_empgender][value=' + data.c_empgender + ']').prop('checked', true);
                        console.log(data.c_empdob);
                        var date = new Date(data.c_empdob);
var year = date.getFullYear();
var month = ("0" + (date.getMonth() + 1)).slice(-2); // Adding 1 to month because getMonth() returns zero-based index
var day = ("0" + date.getDate()).slice(-2);

var formattedDate = year + "-" + month + "-" + day;
$('#c_edit_empdob').val(formattedDate);

                        $('input[name=c_edit_empshift]').prop('checked', false);
                        if (data.c_empshift.includes('Morning')) {
                            $('#edit_morning').prop('checked', true);
                        }
                        if (data.c_empshift.includes('Afternoon')) {
                            $('#edit_afternoon').prop('checked', true);
                        }

                         if (data.c_empimg) {
                            $('#c_edit_empimg').text(data.c_empimg);
                        } else {
                            $('#c_edit_empimg').text('No file selected');
                        }

                        $('#c_edit_empdepartment').val(data.c_empdepartment);
                        console.log(data.c_empdepartment);

fetchDepartmentData(data);

                    },
                });
                $('#editEmployeeModal').modal('show');
            }

        $('#updateEmployeeButton').on('click', updateEmployee);
        function updateEmployee() {
            var employee = {
                c_empid: $('#c_empid').val(),
                c_empname: $('#c_edit_empname').val(),
                c_empgender: $('input[name=c_edit_empgender]:checked').val(),
                c_empdob: $('#c_edit_empdob').val(),
                c_empshift: $('input[name=c_edit_empshift]:checked').val(),
                c_empimg: $('#c_edit_empimg').val(),
                c_empdepartment: $('#c_edit_empdepartment').val(),
            };

console.log(employee);
debugger;
            var formData = new FormData();
            formData.append("c_empname", $('#c_edit_empname').val());
            formData.append("c_empdob", $('#c_edit_empdob').val());
            formData.append("c_empgender", $("input[name='c_edit_empgender']:checked").val());
            formData.append("c_empshift",$("input[name='c_edit_empshift']:checked").map(function () { return $(this).val(); }).get());
            formData.append("c_empimg", $('#c_edit_empimg').val());
            formData.append("c_empdepartment", $('#c_empdepartment').val());

            console.log(formData);
            debugger;
            console.log('Selected department:', employee.c_empdepartment);
            $.ajax({
                url: '/mvcajax/Edit/?id=' + employee.c_empid,
                type: 'PUT',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    loadEmployee();
                    ResetEmp();
                    alert(data.message);
                },
                error: function (xhr, status, error) {
                    console.log(formData);
                    console.error('Error fetching employee details:', status, error);
                }
            });
        }

        $('#closeModalButton').on('click', closeEditEmployeeModal);
        function closeEditEmployeeModal() {
            $('#editEmployeeModal').modal('hide');
        }

        $('#empTable').on('click', '.delete', deleteEmployee);
        function deleteEmployee() {
            var empId = $(this).data('id');

            var result = confirm("Are you sure for delete !");
            if (result) {
                $.ajax({
                    url: '/mvcajax/Delete/?id=' + empId,
                    type: 'DELETE',
                    data: { id: empId },
                    dataType: 'json',
                    success: function (data) {
                        loadEmployee();
                    },
                });
            }
        }

        // Function to handle click event on Details button
        $('#empTable').on('click', '.details', function () {
            var empId = $(this).data('id');
            // You need to implement a function to fetch details for the employee with the specified ID
            // You can use an AJAX request to your server-side endpoint to fetch the details
            $.ajax({
                url: '/mvcajax/Details/' + empId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Handle the response and display the details
                    console.log(data);
                    // Example: Display details in an alert
                    alert('Employee Details:\n' +
                        'Name: ' + data.c_empname + '\n' +
                        'Gender: ' + data.c_empgender + '\n' +
                        'Date of Birth: ' + data.c_empdob + '\n' +
                        'Shift: ' + data.c_empshift + '\n' +
                        'Department: ' + data.c_empdepartment);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching employee details:', status, error);
                }
            });
        });


        // Your code for resetting the form remains unchanged
        function ResetEmp() {
            $('#c_empid').val(0);
            $('#c_empname').val("");
            $("input[name='c_empgender']").prop('checked', false);
            $('#c_empdob').val("");
            $("input[name='c_empshift']").prop('checked', false);
            $('#c_empimg').val("");
            $('#c_empdepartment').val(0);
        }


    </script>
}